:root {
    --bg-blue: rgb(155, 184, 255);
    --bg-pink: rgb(247, 190, 190);
    --bg-pink-deep: rgb(249, 164, 190);
    --bg-green: rgb(102, 208, 246);
    --fg-blue: rgb(204, 243, 255);
    --fg-pink: rgb(247, 233, 233);
    --text-gray: rgb(95, 100, 113);
}

html {
    height: 100%;
    background: linear-gradient(176deg, var(--bg-blue), var(--bg-green)) no-repeat center center fixed;
    background-color: var(--bg-blue);
}

html, body {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-size: 1.25em;
    font-style: normal;
    margin: auto;
    color: var(--fg-blue);
}

body {
    height: 100%;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  

#generateButton {
    display: block;
    background-color: var(--bg-pink);
    font-family: inherit;
    text-align: center;
    margin: 0.5rem auto;
    font-size: 1.1em;
    padding: 0.5rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: 0.2s background-color;
}

#generateButton:hover {
    background-color: var(--bg-pink-deep);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    width: 100%;
}

.header-left {
    margin-left: 10%;
    text-align: left;
    font-family: inherit;
}

strong {
    font-weight: 600;
    font-size: 3em;
    /* text-decoration: 8px underline var(--fg-pink); */
}

strong:after {
    content: '';
    display: block;
    height: 0.75rem;
    width: 100%;
    background-color: var(--fg-pink);
}

#mainbody {
    margin: auto auto 2em auto;
    width: 80%;
    height: 100%;
}

.split {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    margin:auto;
    width: 90% !important;
}

#priv-pol, #response {
    color: var(--text-gray);
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: 1em;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(205, 217, 245);
}

#priv-pol {
    border: 3px solid var(--fg-blue);
    resize: none;
}

#priv-pol:focus, #priv-pol:focus-visible {
    outline: none;
}

#response {
    border: 3px solid var(--fg-pink);
    font-size: 0.8em;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen
and (max-width: 1300px) {
    strong {
        font-size: 2.5em;
    }
}
@media screen
and (max-width: 1100px) {
    strong {
        font-size: 2em;
    }
}
@media screen
and (max-width: 900px) {
    strong {
        font-size: 1.1em;
    }
}