:root {
    --bg-blue: rgb(155, 184, 255);
    --bg-pink: rgb(247, 190, 190);
    --bg-green: rgb(102, 208, 246);
    --fg-blue: rgb(204, 243, 255);
    --fg-pink: rgb(247, 233, 233);
}

html {
    height: 100%;
    background: linear-gradient(176deg, var(--bg-blue), var(--bg-green)) no-repeat center center fixed;
    background-color: var(--bg-blue);
}

html, body {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-size: 1.25em;
    font-style: normal;
    margin: auto;
    color: var(--fg-blue);
}

#generateButton {
    display: block;
    background-color: var(--bg-pink);
    font-family: inherit;
    text-align: center;
    margin: 0.5rem auto;
    font-size: 1.1em;
    padding: 0.5rem;
    color: #fff;
    border: 2px solid var(--fg-pink);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    width: 100%;
}

.header-left {
    margin-left: 10%;
    text-align: left;
    font-family: inherit;
}

strong {
    font-weight: 600;
    font-size: 3em;
    text-decoration: 8px underline var(--fg-pink);
}

#mainbody {
    margin: auto;
    width: 80%;
}

#priv-pol {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(205, 217, 245);
    border: 3px solid var(--fg-blue);
    resize: none;
}

#priv-pol:focus, #priv-pol:focus-visible {
    outline: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}